@import '@fortawesome/fontawesome-free/css/all.css';

.topo{
	background-color: #006400;
	padding: 10px;
	text-align: center;
}
.logo{
	width: 80%;
	padding: 10px;
	text-align: center;
	margin: auto;
}
.barra{
    background-image: linear-gradient(#e8f7ec, #a8e1b6);
}


.descricao_sistema{
	color: #FFFFFF;
	font-size: 25px;
	font-weight: bold;
}
.moldura_corpo{
	width: 100%;
	padding: 15px 0px 10px 0px;;
	border: 1px #808080 solid;
}
/* -----------------------------------------------------------------------------
RODAPÉ
----------------------------------------------------------------------------- */
.rodape {
	background-image:url(../../public/images/fundo_rodape.jpg);
	height:85px;
	text-align:center;
}
/* -----------------------------------------------------------------------------
TABELAS
----------------------------------------------------------------------------- */
.tabela_show {
    background-color: transparent;
    width: 50%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 3px;
}

.tabela_show tr{
	padding:3px;
}

.tabela_show td{
	padding:3px;
}
.alert_erro{
	background-color: #F08080;
	border: 1px #037E45 solid;
	padding: 5px;
}
/* cinza */
.tabela_show tbody td:first-child {
    width: 50%;
	text-align: right;
	background-color: #F0F0F0;
	border: 1px solid;
    min-width: 100px;
}
/* verde */
.tabela_show tbody td:first-child + td {
	text-align: left;
	background-color: #B7E8C5;
	border: 1px solid;
	min-width: 100px;
	padding: 3px;
}
/* -----------------------------------------------------------------------------
LINKS
----------------------------------------------------------------------------- */
.menu:link, .menu:visited {
	color:#000000;
	font-weight:normal;
	text-decoration:none;
}
.menu:hover {
	color:#808080;
	font-weight:normal;
	text-decoration:none;
}
.voltar:link, .voltar:visited {
	color:#037E45;
	font-weight:normal;
	text-decoration:none;
}
.voltar:hover {
	color:#FFFFFF;
	font-weight:normal;
	text-decoration:none;
}
/* -----------------------------------------------------------------------------
AÇÕES
----------------------------------------------------------------------------- */
.acoes:link, .acoes:visited {
	color:#000000;
	font-weight:normal;
    border: 1px solid #ccc;
	text-decoration:none;
    padding: 3px;
}
.acoes:hover {
    background-color: #eaeaea;
	color:#037E45;
	font-weight:normal;
	text-decoration:none;
}
/* -----------------------------------------------------------------------------
AÇÕES DELETAR
----------------------------------------------------------------------------- */
.acoes_deletar:link, .acoes_deletar:visited {
	color:#000000;
	font-weight:normal;
    border: 1px solid #ccc;
	text-decoration:none;
    padding: 3px;
}
.acoes_deletar:hover {
    background-color: #F08080;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
}
