body{
    background-color: bisque;
}

/* .topo{
    background-color: #006b18;
    display: flex;
    text-align: left;
}

.barra_titulo{
    background-color: #427f4d;
    display: flex;
    text-align: left;
    padding: 5px;
}

.voltar{
	width:100px;
	height:30px;
	background-color:#69db7e;
	border-radius: 15px;
    padding: 4px;
    text-align: center;
    margin: 0 auto;
} */

